/* styles.css */
.root {
    -fx-background-color: #403f3f;
}

/* HomePAge styling */
.label-title {
    -fx-font-family: Arial;
    -fx-font-weight: bold;
    -fx-font-size: 24px;
    -fx-text-fill: #ffffff;
}

.button-register {
    -fx-background-color: #4CAF50;
    -fx-text-fill: white;
    -fx-font-size: 14px;
}

.button-login {
    -fx-background-color: #2196F3;
    -fx-text-fill: white;
    -fx-font-size: 14px;
}

.button-add-film {
    -fx-background-color: #FF5722;
    -fx-text-fill: white;
    -fx-font-size: 14px;
}

.film-row {
    -fx-border-color: #cccccc;
    -fx-border-width: 1px;
    -fx-background-color: #ffffff;
}

.film-box {
    -fx-border-color: #cccccc;
    -fx-border-width: 1px;
    -fx-background-color: #ffffff;
}

.poster-image {
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.25), 10, 0.5, 0, 0);
}

.label-film-title {
    -fx-font-family: Arial;
    -fx-font-weight: bold;
    -fx-font-size: 16px;
    -fx-text-fill: #ffffff;
}

.label-film-director {
    -fx-font-family: Arial;
    -fx-font-size: 14px;
    -fx-text-fill: #ffffff;
}

.button-detail {
    -fx-background-color: #FF9800;
    -fx-text-fill: white;
    -fx-font-size: 12px;
}

.button-edit {
    -fx-background-color: #FFC107;
    -fx-text-fill: white;
    -fx-font-size: 12px;
}

/* FilmDetailPage styling */

.label-detail-title {
    -fx-font-family: Arial;
    -fx-font-weight: bold;
    -fx-font-size: 24px;
    -fx-text-fill: #ffffff;
}

.label-detail-director {
    -fx-font-family: Arial;
    -fx-font-size: 16px;
    -fx-text-fill: #ffffff;
}

.label-detail-description {
    -fx-font-family: Arial;
    -fx-font-size: 14px;
    -fx-text-fill: #ffffff;
}

.poster-image-detail {
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.25), 10, 0.5, 0, 0);

}

.button-back {
    -fx-background-color: #2196F3;
    -fx-text-fill: white;
    -fx-font-size: 14px;
}

.button-delete {
    -fx-background-color: #F44336;
    -fx-text-fill: white;
    -fx-font-size: 14px;
}

/* LoginPage styling */
.label-login-title {
    -fx-font-family: Arial;
    -fx-font-weight: bold;
    -fx-font-size: 70px;
    -fx-text-fill: #ffffff;
}

.label-username, .label-password {
    -fx-font-family: Arial;
    -fx-font-size: 14px;
    -fx-text-fill: #ffffff;
}


.textfield-username, .textfield-password {
    -fx-font-size: 14px;
    -fx-max-width: 200px;
    -fx-padding: 10px;
    -fx-border-color: #cccccc;
    -fx-border-width: 2px;
    -fx-border-radius: 50px;
    -fx-background-color: transparent;
    -fx-text-fill: white;

}

.textfield-username:focused, .textfield-password:focused {
    -fx-border-color: #4CAF50;
    -fx-background-color: #f0f0f0;
    -fx-background-color: transparent;
}

.textfield-username:hover, .textfield-password:hover {
    -fx-border-color: #4CAF50;
}

.button-submit {
    -fx-background-color: #4CAF50;
    -fx-text-fill: white;
    -fx-font-size: 14px;
}

.button-submit:hover {
    -fx-background-color: #45a049;
}

/* RegisterPage styling */
.label-register-title {
    -fx-font-family: Arial;
    -fx-font-weight: bold;
    -fx-font-size: 70px;
    -fx-text-fill: #ffffff;

}

.label-register-username, .label-register-password {
    -fx-font-family: Arial;
    -fx-font-size: 14px;
    -fx-text-fill: #ffffff;
}

.textfield-register-username, .textfield-register-password {
    -fx-font-size: 14px;
    -fx-max-width: 200px;
    -fx-padding: 10px;
    -fx-border-color: #cccccc;
    -fx-border-width: 2px;
    -fx-border-radius: 50px;
    -fx-background-color: transparent;
    -fx-text-fill: white;
}

.textfield-register-username:focused, .textfield-register-password:focused {
    -fx-border-color: #4CAF50;
    -fx-background-color: #f0f0f0;
}

.textfield-register-username:hover, .textfield-register-password:hover {
    -fx-border-color: #4CAF50;
    -fx-background-color: transparent;
}

.button-register-submit {
    -fx-background-color: #4CAF50;
    -fx-text-fill: white;
    -fx-font-size: 14px;
}

.button-register-submit:hover {
    -fx-background-color: #45a049;
}

/* AddFilmPage styling */

.label-add-film-title {
    -fx-font-family: Arial;
    -fx-font-weight: bold;
    -fx-font-size: 28px;
    -fx-text-fill: #ffffff;
}


.label-add-film-director, .label-add-film-description {
    -fx-font-family: Arial;
    -fx-font-size: 14px;
    -fx-text-fill: #ffffff;
}

.textfield-add-film-title, .textfield-add-film-director, .textfield-add-film-description {
    -fx-font-size: 14px;
    -fx-max-width: 200px;
    -fx-padding: 10px;
    -fx-border-color: #cccccc;
    -fx-border-width: 2px;
    -fx-border-radius: 50px;
    -fx-background-color: transparent;
    -fx-text-fill: white;

}

.text-area-add-film-description {
    -fx-font-size: 14px;
    -fx-max-width: 200px;
    -fx-max-height: 100px;
    -fx-padding: 10px;
    -fx-border-color: #cccccc;
    -fx-border-width: 2px;
    -fx-border-radius: 50px;
    -fx-background-color: transparent;
    -fx-text-fill: white;
}

.textfield-add-film-title:focused, .textfield-add-film-director:focused, .textfield-add-film-description:focused {
    -fx-border-color: #4CAF50;
    -fx-background-color: transparent;


}

.textfield-add-film-title:hover, .textfield-add-film-director:hover, .textfield-add-film-description:hover {
    -fx-border-color: #4CAF50;
    -fx-background-color: transparent;
}

.button-add-film-submit {
    -fx-background-color: #4CAF50;
    -fx-text-fill: white;
    -fx-font-size: 14px;
}

.button-add-film-submit:hover {
    -fx-background-color: #45a049;
}

/* EditFilmPage styling */

.label-edit-film-title {
    -fx-font-family: Arial;
    -fx-font-weight: bold;
    -fx-font-size: 28px;
    -fx-text-fill: #ffffff;
}

.label-edit-film-director, .label-edit-film-description {
    -fx-font-family: Arial;
    -fx-font-size: 14px;
    -fx-text-fill: #ffffff;
}

.textfield-edit-film-title, .textfield-edit-film-director, .textfield-edit-film-description {
    -fx-font-size: 14px;
    -fx-max-width: 200px;
    -fx-padding: 10px;
    -fx-border-color: #cccccc;
    -fx-border-width: 2px;
    -fx-border-radius: 50px;
    -fx-background-color: transparent;
    -fx-text-fill: white;

}

.text-area-edit-film-description {
    -fx-font-size: 14px;
    -fx-max-width: 200px;
    -fx-max-height: 100px;
    -fx-padding: 10px;
    -fx-border-color: #cccccc;
    -fx-border-width: 2px;
    -fx-border-radius: 50px;
    -fx-background-color: transparent;
    -fx-text-fill: white;
}

.textfield-edit-film-title:focused, .textfield-edit-film-director:focused, .textfield-edit-film-description:focused {
    -fx-border-color: #4CAF50;
    -fx-background-color: transparent;
}

.textfield-edit-film-title:hover, .textfield-edit-film-director:hover, .textfield-edit-film-description:hover {
    -fx-border-color: #4CAF50;
    -fx-background-color: transparent;
}



.button-edit-film-submit {
    -fx-background-color: #4CAF50;
    -fx-text-fill: white;
    -fx-font-size: 14px;
}

.button-edit-film-submit:hover {
    -fx-background-color: #45a049;
}

/* Error styling */
.label-error {
    -fx-font-family: Arial;
    -fx-font-size: 14px;
    -fx-text-fill: #ffffff;
}